In [2]:
import pandas as pd
data=pd.read_csv('../files/missingvalues.txt')
data.columns

Index(['City', 'Colors Reported', 'Shape Reported', 'State', 'Time'], dtype='object')

In [3]:
data.head()

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [4]:
data.columns=data.columns.str.replace(" ","")
data.columns

Index(['City', 'ColorsReported', 'ShapeReported', 'State', 'Time'], dtype='object')

In [5]:
data.isnull().head()

    City  ColorsReported  ShapeReported  State   Time
0  False            True          False  False  False
1  False            True          False  False  False
2  False            True          False  False  False
3  False            True          False  False  False
4  False            True          False  False  False

In [6]:
data.isnull().sum()

City                 25
ColorsReported    15359
ShapeReported      2644
State                 0
Time                  0
dtype: int64

In [7]:
data.isnull().sum(axis=1).head()

0    1
1    1
2    1
3    1
4    1
dtype: int64

In [8]:
data.isnull().sum(axis=0).head()

City                 25
ColorsReported    15359
ShapeReported      2644
State                 0
Time                  0
dtype: int64

In [9]:
new=pd.Series([True,True,False,True])

In [10]:
new

0     True
1     True
2    False
3     True
dtype: bool

In [11]:
new.sum()

3

In [12]:
data.isnull().sum()

City                 25
ColorsReported    15359
ShapeReported      2644
State                 0
Time                  0
dtype: int64

#### drop a row if any of its avlue is missing

In [13]:
data = data.dropna(how='any')

In [14]:
data.isnull().sum()

City              0
ColorsReported    0
ShapeReported     0
State             0
Time              0
dtype: int64

#### drop if all values of a row is missing

In [15]:
data.dropna(how='all').shape

(2486, 5)

In [16]:
data.dropna(subset=['ColorsReported', 'ShapeReported'], how='all').shape

(2486, 5)

In [17]:
data.ShapeReported.value_counts()

LIGHT        575
FIREBALL     340
CIRCLE       238
SPHERE       221
TRIANGLE     211
DISK         202
OTHER        183
OVAL         131
CIGAR         68
FORMATION     61
VARIOUS       54
CYLINDER      34
FLASH         34
RECTANGLE     28
DIAMOND       27
CHEVRON       24
EGG           20
TEARDROP      19
CONE           8
CROSS          3
CRESCENT       1
HEXAGON        1
DELTA          1
PYRAMID        1
ROUND          1
Name: ShapeReported, dtype: int64

In [18]:
data.ShapeReported.fillna(value='ila', inplace=True)

In [19]:
data.fillna(value='ila', inplace=True)

In [20]:
data.ShapeReported.value_counts(dropna=False)

LIGHT        575
FIREBALL     340
CIRCLE       238
SPHERE       221
TRIANGLE     211
DISK         202
OTHER        183
OVAL         131
CIGAR         68
FORMATION     61
VARIOUS       54
CYLINDER      34
FLASH         34
RECTANGLE     28
DIAMOND       27
CHEVRON       24
EGG           20
TEARDROP      19
CONE           8
CROSS          3
CRESCENT       1
HEXAGON        1
DELTA          1
PYRAMID        1
ROUND          1
Name: ShapeReported, dtype: int64